# vscode
.vscode

# python
venv
__pycache__
.ipynb_checkpoints
.python-version

# log
logs

# data
data
stats
_cache_*

# pdf
*.pdf

# model
*.pt

# visulaization data
vis/

# configs
configs/**/*.json

# redundant .py
training/models/*.py
!training/models/base.py
!training/models/biggan.py
!training/models/dcgan.py
!training/models/resnet.py
gn_unittest.py
